@{
    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"></script>
<script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>BlogSectionId</th>
            <th>BlogId</th>
            <th>SectionTitle</th>
            <th>SectionContent</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
</table>

@section scripts{



    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var oTable;
        $(document).ready(function () {
            oTable = $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/BlogSection/BlogSectionList",
                "columns": [
                    { "data": "BlogSectionId" },
                    { "data": "BlogId" },
                    { "data": "SectionTitle" },
                    { "data": "SectionContent" },
                    {
                        "title": "Action",
                        "render": function (data, type, row, meta)
                        {
                            return '<a class="btn btn-info" target="_blank" href="/BlogSection/Edit/' + row.BlogSectionId + '">Edit</a>';
                        }
                    },
                    {
                        "title": "Action",
                        "render": function (data, type, row, meta) {
                            return '<a class="btn btn-danger" target="_blank" onclick=" DeleteBlogSection(' + row.BlogSectionId + ')">Delete</a>';
                        }
                    },



                ],



            });

        });
        function DeleteBlogSection(BlogSectionId) {
            if (confirm("Are you sure to delete!!!")) {
                Delete(BlogSectionId);
            }
            else {
                return false;
            }
        }


        function Delete(BlogSectionId) {
            var url = "/BlogSection/DeleteBlogSection";
            $.post(url, { ID: BlogSectionId }, function (data) {
                if (data == "Deleted") {
                    alert("Delete Customer !");
                    oTable = $('#example').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }

    </script>
}