
@{
    /**/

    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"></script>
<script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>



<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Blog ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            @*<th>Category</th>*@
            <th>Status</th>
            <th>Blog Section</th>
            <th>Blog Category</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
</table>

@section scripts{



    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var oTable;

        //$(document).ready(function () {
        //    $('#example').DataTable({
        //        "ajax": "/BlogAdmin/BlogList",
        //    });
        //});
        $(document).ready(function () {
            oTable = $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/BlogAdmin/BlogList",
                "columns": [
                    { "data": "BlogId" },
                    { "data": "Title" },
                    { "data": "Content" },
                    { "data": "Author" },
                    //{ "data": "CategoryName" },
                    { "data": "Status" },
                    {
                        "title": "Blog Section",
                        "render": function (data, type, row, meta) {
                            return '<a class="btn btn-info" target="_blank" href="/BlogSection/Index/">Section</a>';
                        }
                    },
                    {
                        "title": "Blog Category",
                        "render": function (data, type, row, meta) {
                            return '<a class="btn btn-info" target="_blank" href="/Category/Index/">Category</a>';
                        }
                    },

                    {
                        "title": "Edit",
                        "render": function (data, type, row, meta)
                        {
                            return '<a class="btn btn-info" target="_blank" href="/BlogAdmin/Edit/' + row.BlogId + '">Edit</a>';
                        }
                    },
                    {
                        "title": "Delete",
                        "render": function (data, type, row, meta) {
                            return '<a class="btn btn-danger" target="_blank" onclick="DeleteBlog(' + row.BlogId + ')">Delete</a>';
                        }
                    },

                   

                ],



            });

        });

        function DeleteBlog(BlogId) {
            if (confirm("Are you sure to delete!!!")) {
                Delete(BlogId);
            }
            else {
                return false;
            }
        }


        function Delete(BlogId) {
            var url = "/BlogAdmin/DeleteBlog";
            $.post(url, { ID: BlogId }, function (data) {
                if (data == "Deleted") {
                    alert("Delete Customer !");
                    oTable = $('#example').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }

    </script>
}

    <div>
        @Html.ActionLink("Go To Create", "Create")
    </div>